# 1. Tipos de datos

## Integer, float

In [1]:
numero1 = 4
numero2 = 5
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2

print("Suma es {0}".format(suma))
print("Resta es {0}".format(resta))
print("Multiplicacion es {0}".format(multiplicacion))
print("Division es {0}".format(division))

Suma es 9
Resta es -1
Multiplicacion es 20
Division es 0.8

In [2]:
numero3 = 0.522876

suma = numero1 + numero3
resta = numero1 - numero3
multiplicacion = numero1 * numero3
division = numero1 / numero3

print("Suma es {0}".format(suma))
print("Resta es {0}".format(resta))
print("Multiplicacion es {0}".format(multiplicacion))
print("Division es {0}".format(division))

Suma es 4.522876
Resta es 3.477124
Multiplicacion es 2.091504
Division es 7.649997322500937

In [4]:
numero3 = "Ahora es un string"
numero3

'Ahora es un string'

## Strings -> cadenas de caracteres -> texto

In [7]:
hola_mundo = "Hola mundo!"
hola_mundo

'Hola mundo!'

In [8]:
mensaje1 = "Este es un mensaje de prueba"
mensaje1

'Este es un mensaje de prueba'

In [9]:
hola_mundo + ' ' + mensaje1

'Hola mundo! Este es un mensaje de prueba'

In [10]:
hola_mundo[3]

'a'

## Dataframes -> tablas

In [11]:
import pandas as pd
data_path = 'data/'

In [12]:
df = pd.read_csv(data_path + '/tabla_de_ciudades.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26562 entries, 0 to 26561
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        26562 non-null  object
 1   city_ascii  26562 non-null  object
 2   lat         26562 non-null  float64
 3   lng         26562 non-null  float64
 4   country     26562 non-null  object
 5   iso2        26531 non-null  object
 6   iso3        26562 non-null  object
 7   admin_name  26487 non-null  object
 8   capital     7626 non-null   object
 9   population  25588 non-null  float64
 10  id          26562 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 2.2+ MB

In [13]:
df.head(10)

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140
5,Shanghai,Shanghai,31.1667,121.4667,China,CN,CHN,Shanghai,admin,22120000.0,1156073548
6,São Paulo,Sao Paulo,-23.5504,-46.6339,Brazil,BR,BRA,São Paulo,admin,22046000.0,1076532519
7,Seoul,Seoul,37.5833,127.0000,"Korea, South",KR,KOR,Seoul,primary,21794000.0,1410836482
8,Mexico City,Mexico City,19.4333,-99.1333,Mexico,MX,MEX,Ciudad de México,primary,20996000.0,1484247881
9,Guangzhou,Guangzhou,23.1288,113.2590,China,CN,CHN,Guangdong,admin,20902000.0,1156237133

In [15]:
fila = df.iloc[10]
fila['city']

'Beijing'

In [18]:
df['lat+lng'] = df['lat'] + df['lng']
df.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,lat+lng
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764,175.3819
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077,100.6305
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604,105.8900
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629,91.8000
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140,135.5730

# 2. Funciones

In [17]:
def suma_de_tres_numeros(numero1, numero2, numero3):
    operacion_auxiliar = numero1*45 + 20
    return operacion_auxiliar + numero2 + numero3

suma_de_tres_numeros(4,5,6)

211

In [18]:
def operacion_mas_compleja(numero1, numero2):
    return ( (numero1 + numero2) * numero2 - numero1 ) / numero1

operacion_mas_compleja(5, 10)

29.0